<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="newlogin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <h1 style="color:white">Lesgoo Fitness</h1>
    <div class="container" ng-controller="LoginController">
        <form class="login-form">
            <h2>Register</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" ng-model="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ng-model="password" required>
            </div>
            <button type="submit" ng-click="redirectToFitmain()">Register</button>
        </form>
    </div>

    <script>
        angular.module('myApp', [])
            .controller('LoginController', function($scope, $window) {
                $scope.redirectToFitmain = function() {
                    // Perform login logic here
                    // For this example, we are just logging the username and password
                    console.log('Username:', $scope.username);
                    console.log('Password:', $scope.password);

                    
                    // Replace 'dashboard.html' with the URL of the page you want to redirect to
                    $window.location.href = 'fitmain.html';
                };
            });
    </script>
</body>
</html>
